---
layout: default
---
<div class="col-lg-12">
<div class="row">
  <div class="col-lg-4">
    <div class="card" id="profile-card">
      <a href="/">
        <img src="{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img" />
      </a>
      <h1 class="profile-name">{{ site.title }}</h1>
      <p class="profile-bio">{{ site.subtitle }}</p>
      {% if site.github_username %} {%- include github_follow_button.html -%} {%
      endif %}

      {% include social.html %}

      {% if site.author_location %}
      <h6><i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</h6>
      {% endif %} {% if site.author_email %}
      <h6><i class="fas fa-envelope"></i> {{ site.author_email }}</h6>
      {% endif %} {% if site.author_website_url %}
      <h6><i class="fas fa-link"></i> {{ site.author_website_url }}</h6>
      {% endif %}
    </div>
    <div class="card">
      <p>{{ site.description }}</p>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <h2 class="card-title">Welcome to {{ site.title }}</h1>
      <p>{{ content }}</p>
    </div>
  </div>
</div>
</div>
